{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div id="genretags" class="col-md-3">
      <h2> Select One or More Genres: </h2>
      <ul class=entries class="list-group">
        <table>
        <form action="/play" method='POST'>
        {% for genre in entries.genres %}
        <tr><td>
          <input type="checkbox" id="{{ genre }}" value={{ genre }} name=current-genre>
          <label for={{ genre }}>{{ genre }}</label>
        </td></tr>
        {% endfor %}
        <tr><td>
        <input type="submit" value="Submit">
      </tr></td>
      </table>
      </form>
    <h5>
    <div id="upcoming" class="col-md-3">
      <ul class=entries class="list-group">
        {% for tweet in entries.tweets %}
        <li class="list-group-item">{{ tweet }}</li>
        {% endfor %}
      </ul>
    </div>
  </h5>
  </div>

{% endblock %}
